In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_excel('Downloads/Big Game Census data/uscensusbureau-big-game-census-data-visualization/Big Game Census data.xlsx')
pop_2016 = pd.read_excel('Downloads/Big Game Census data/uscensusbureau-big-game-census-data-visualization/All Places Census 2016 Population Estimates.xlsx')
pop_2017 = pd.read_excel('Downloads/Big Game Census data/uscensusbureau-big-game-census-data-visualization/All states Census 2017 Population Estimates.xlsx')

In [26]:
df.head()

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
0,Devin McCourty,#32,S/FS,30.0,195.0,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,0400000US36,41.088707,-74.013473,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/N...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
1,Danny Amendola,#80,PR/WR/KR,32.0,190.0,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,0400000US48,30.173419,-95.504686,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/T...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
2,Johnson Bademosi,#29,CB/SPTM/RCB,27.0,206.0,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,0400000US24,38.990666,-77.026088,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
3,Chris Hogan,#15,WR,29.0,210.0,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,0400000US34,41.009542,-74.172922,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/W...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
4,James Develin,#46,RB/FB,29.0,255.0,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,0400000US42,40.320097,-75.610184,1.0,1.0,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/G...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Player Name                                               119 non-null    object
 1   Player Jersey Number                                      118 non-null    object
 2   Player Position                                           118 non-null    object
 3   Player Age                                                118 non-null    float64
 4   Player Weight (lbs.)                                      118 non-null    float64
 5   Years Played                                              118 non-null    object
 6   Player Birthplace (city, town, etc.)                      118 non-null    object
 7   Player Birth State                                        118 non-null    object
 8   Player Birthplace (Combo)                                 118 non-null    object
 9   Player College                                            118 non-null    object
 10  Player Team                                               118 non-null    object
 11  Conference                                                118 non-null    object
 12  2016 Population Estimates (except where otherwise noted)  118 non-null    object
 13  State GEO ID                                              118 non-null    float64
 14  Full GEOID                                                118 non-null    object
 15  Latitude (player birthplace)                              118 non-null    float64
 16  Longitude (player birthplace)                             118 non-null    float64
 17  Number from City                                          118 non-null    float64
 18  Number of Records                                         118 non-null    float64
 19  American FactFinder Link for more Census data points      118 non-null    object
 20  Quickfacts Link                                           118 non-null    object
 21  State Data Link                                           118 non-null    object
 22  Source (Population States 2017)                           118 non-null    object
 23  Birthplace, Population Data Source                        118 non-null    object
dtypes: float64(7), object(17)
memory usage: 22.8+ KB

In [28]:
df.isnull().sum()

Player Name                                                 2
Player Jersey Number                                        3
Player Position                                             3
Player Age                                                  3
Player Weight (lbs.)                                        3
Years Played                                                3
Player Birthplace (city, town, etc.)                        3
Player Birth State                                          3
Player Birthplace (Combo)                                   3
Player College                                              3
Player Team                                                 3
Conference                                                  3
2016 Population Estimates (except where otherwise noted)    3
State GEO ID                                                3
Full GEOID                                                  3
Latitude (player birthplace)                                3
Longitude (player birthplace)                               3
Number from City                                            3
Number of Records                                           3
American FactFinder Link for more Census data points        3
Quickfacts Link                                             3
State Data Link                                             3
Source (Population States 2017)                             3
Birthplace, Population Data Source                          3
dtype: int64

In [29]:
df.dropna(inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, 0 to 117
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Player Name                                               118 non-null    object
 1   Player Jersey Number                                      118 non-null    object
 2   Player Position                                           118 non-null    object
 3   Player Age                                                118 non-null    float64
 4   Player Weight (lbs.)                                      118 non-null    float64
 5   Years Played                                              118 non-null    object
 6   Player Birthplace (city, town, etc.)                      118 non-null    object
 7   Player Birth State                                        118 non-null    object
 8   Player Birthplace (Combo)                                 118 non-null    object
 9   Player College                                            118 non-null    object
 10  Player Team                                               118 non-null    object
 11  Conference                                                118 non-null    object
 12  2016 Population Estimates (except where otherwise noted)  118 non-null    object
 13  State GEO ID                                              118 non-null    float64
 14  Full GEOID                                                118 non-null    object
 15  Latitude (player birthplace)                              118 non-null    float64
 16  Longitude (player birthplace)                             118 non-null    float64
 17  Number from City                                          118 non-null    float64
 18  Number of Records                                         118 non-null    float64
 19  American FactFinder Link for more Census data points      118 non-null    object
 20  Quickfacts Link                                           118 non-null    object
 21  State Data Link                                           118 non-null    object
 22  Source (Population States 2017)                           118 non-null    object
 23  Birthplace, Population Data Source                        118 non-null    object
dtypes: float64(7), object(17)
memory usage: 23.0+ KB

In [31]:
df.describe()

,Player Age,Player Weight (lbs.),State GEO ID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.0
mean,26.720339,243.881356,28.330508,35.566567,-92.820792,1.152542,1.0
std,3.653556,45.959322,17.071521,7.449830,20.707252,0.426216,0.0
min,21.000000,167.000000,1.000000,-14.252294,-170.713450,1.000000,1.0
25%,24.000000,205.000000,12.000000,32.416135,-97.764743,1.000000,1.0
50%,26.000000,238.000000,31.000000,36.164258,-86.614908,1.000000,1.0
75%,29.000000,274.000000,40.500000,40.411295,-80.155949,1.000000,1.0
max,40.000000,350.000000,75.000000,51.507322,-0.127647,3.000000,1.0

In [32]:
df_1 = df.drop(['Number from City','Number of Records',
                'American FactFinder Link for more Census data points',
                'Quickfacts Link','State Data Link',
                'Source (Population States 2017)',
               'Birthplace, Population Data Source'],axis=1)

In [33]:
pop_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19510 entries, 0 to 19509
Data columns (total 12 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Geographic ID                              19510 non-null  object
 1   GEOID 2                                    19510 non-null  int64
 2   Geography, full name (City, State)         19510 non-null  object
 3   April 1, 2010 - Census                     19510 non-null  object
 4   April 1, 2010 - Estimates Base             19510 non-null  int64
 5   Population Estimate (as of July 1) - 2010  19510 non-null  int64
 6   Population Estimate (as of July 1) - 2011  19510 non-null  int64
 7   Population Estimate (as of July 1) - 2012  19510 non-null  int64
 8   Population Estimate (as of July 1) - 2013  19510 non-null  int64
 9   Population Estimate (as of July 1) - 2014  19510 non-null  int64
 10  Population Estimate (as of July 1) - 2015  19510 non-null  int64
 11  Population Estimate (as of July 1) - 2016  19510 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB

In [34]:
pop_2016_1 = pop_2016.drop(['April 1, 2010 - Census','April 1, 2010 - Estimates Base',
                              'Population Estimate (as of July 1) - 2010',
                              'Population Estimate (as of July 1) - 2011',
                              'Population Estimate (as of July 1) - 2012',
                              'Population Estimate (as of July 1) - 2013',
                              'Population Estimate (as of July 1) - 2014',
                              'Population Estimate (as of July 1) - 2015'],axis=1)

In [35]:
pop_2016_1.head()

,Geographic ID,GEOID 2,"Geography, full name (City, State)",Population Estimate (as of July 1) - 2016
0,1620000US0100124,100124,"Abbeville city, Alabama",2603
1,1620000US0100460,100460,"Adamsville city, Alabama",4360
2,1620000US0100484,100484,"Addison town, Alabama",738
3,1620000US0100676,100676,"Akron town, Alabama",334
4,1620000US0100820,100820,"Alabaster city, Alabama",32948

In [36]:
pop_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GEOID                                      52 non-null     object
 1   GEOID2                                     52 non-null     int64
 2   Geography Name                             52 non-null     object
 3   April 1, 2010 - Census                     52 non-null     int64
 4   April 1, 2010 - Estimates Base             52 non-null     int64
 5   Population Estimate (as of July 1) - 2010  52 non-null     int64
 6   Population Estimate (as of July 1) - 2011  52 non-null     int64
 7   Population Estimate (as of July 1) - 2012  52 non-null     int64
 8   Population Estimate (as of July 1) - 2013  52 non-null     int64
 9   Population Estimate (as of July 1) - 2014  52 non-null     int64
 10  Population Estimate (as of July 1) - 2015  52 non-null     int64
 11  Population Estimate (as of July 1) - 2016  52 non-null     int64
 12  Population Estimate (as of July 1) - 2017  52 non-null     int64
dtypes: int64(11), object(2)
memory usage: 5.4+ KB

In [37]:
pop_2017_1 = pop_2017.drop(['April 1, 2010 - Census','April 1, 2010 - Estimates Base',
                            'Population Estimate (as of July 1) - 2010',
                            'Population Estimate (as of July 1) - 2011',
                            'Population Estimate (as of July 1) - 2012',
                            'Population Estimate (as of July 1) - 2013',
                            'Population Estimate (as of July 1) - 2014',
                            'Population Estimate (as of July 1) - 2015'],axis=1)

In [38]:
pop_2017_1.head()

,GEOID,GEOID2,Geography Name,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
0,0400000US01,1,Alabama,4860545,4874747
1,0400000US02,2,Alaska,741522,739795
2,0400000US04,4,Arizona,6908642,7016270
3,0400000US05,5,Arkansas,2988231,3004279
4,0400000US06,6,California,39296476,39536653

In [39]:
df_1.head()

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,Player Team,Conference,2016 Population Estimates (except where otherwise noted),State GEO ID,Full GEOID,Latitude (player birthplace),Longitude (player birthplace)
0,Devin McCourty,#32,S/FS,30.0,195.0,8,Nanuet,New York,"Nanuet, New York",Rutgers,New England,AFC,18377,36.0,0400000US36,41.088707,-74.013473
1,Danny Amendola,#80,PR/WR/KR,32.0,190.0,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,New England,AFC,108373,48.0,0400000US48,30.173419,-95.504686
2,Johnson Bademosi,#29,CB/SPTM/RCB,27.0,206.0,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,New England,AFC,78038,24.0,0400000US24,38.990666,-77.026088
3,Chris Hogan,#15,WR,29.0,210.0,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,New England,AFC,17119,34.0,0400000US34,41.009542,-74.172922
4,James Develin,#46,RB/FB,29.0,255.0,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,New England,AFC,5084,42.0,0400000US42,40.320097,-75.610184

In [40]:
df_1.rename(columns={'Full GEOID': 'GEOID'}, inplace=True)

In [41]:
df_merged = pd.merge(df_1,pop_2017_1,how='inner',on='GEOID')

In [42]:
df_merged.head()

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Conference,2016 Population Estimates (except where otherwise noted),State GEO ID,GEOID,Latitude (player birthplace),Longitude (player birthplace),GEOID2,Geography Name,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
0,Devin McCourty,#32,S/FS,30.0,195.0,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,AFC,18377,36.0,0400000US36,41.088707,-74.013473,36,New York,19836286,19849399
1,Danny Amendola,#80,PR/WR/KR,32.0,190.0,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,AFC,108373,48.0,0400000US48,30.173419,-95.504686,48,Texas,27904862,28304596
2,Johnson Bademosi,#29,CB/SPTM/RCB,27.0,206.0,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,AFC,78038,24.0,0400000US24,38.990666,-77.026088,24,Maryland,6024752,6052177
3,Chris Hogan,#15,WR,29.0,210.0,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,AFC,17119,34.0,0400000US34,41.009542,-74.172922,34,New Jersey,8978416,9005644
4,James Develin,#46,RB/FB,29.0,255.0,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,AFC,5084,42.0,0400000US42,40.320097,-75.610184,42,Pennsylvania,12787085,12805537

In [43]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Player Name                                               115 non-null    object
 1   Player Jersey Number                                      115 non-null    object
 2   Player Position                                           115 non-null    object
 3   Player Age                                                115 non-null    float64
 4   Player Weight (lbs.)                                      115 non-null    float64
 5   Years Played                                              115 non-null    object
 6   Player Birthplace (city, town, etc.)                      115 non-null    object
 7   Player Birth State                                        115 non-null    object
 8   Player Birthplace (Combo)                                 115 non-null    object
 9   Player College                                            115 non-null    object
 10  Player Team                                               115 non-null    object
 11  Conference                                                115 non-null    object
 12  2016 Population Estimates (except where otherwise noted)  115 non-null    object
 13  State GEO ID                                              115 non-null    float64
 14  GEOID                                                     115 non-null    object
 15  Latitude (player birthplace)                              115 non-null    float64
 16  Longitude (player birthplace)                             115 non-null    float64
 17  GEOID2                                                    115 non-null    int64
 18  Geography Name                                            115 non-null    object
 19  Population Estimate (as of July 1) - 2016                 115 non-null    int64
 20  Population Estimate (as of July 1) - 2017                 115 non-null    int64
dtypes: float64(5), int64(3), object(13)
memory usage: 19.0+ KB

In [46]:
df_merged['Years Played'].unique()

array([8, 9, 6, 5, 4, 2, 3, 1, 10, 15, 12, 11, 'R', 7, 18, 13, 14],
      dtype=object)

In [ ]:
#df_merged.to_excel('census_data_merged.xlsx')